@charset "UTF-8";

#wrap
{
	width: 1200px;
	margin: 0 auto;
}

header 
{
	height: 100px;
}

.content > .a
{
	height: 500px;
	width: 400px;
}

.content > .b
{
    height: 500px;
    width: 400px;
}

.content > .c
{
    height: 500px;
    width: 400px;
}

footer
{
	height: 50px;
}